.footerMain{
  display: flex;
  gap:10px;
  padding-bottom: 10px;
}

@media screen and (max-width: 480px) {
  .footerMain{
    flex-direction: column;
  }
}

@media screen and (min-width: 480px) {
  .footerMain{
    flex-direction: row;
    justify-content: space-around;
  }
}

.copy{
  text-align: center;
}

.credit{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.social{
  display: flex;
  gap: 10px;
  justify-content: center;
}

.contactLink{
  text-decoration: none;
  color: #000;
  display: flex;
  gap: 10px;
  display: flex;
  align-items: center;
}

.contactContainer{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.contactInfo{
  padding: 0px;
  margin: 0px;
}

.siteMap{
  display: flex;
  flex-direction: column;
  gap: 5px;
}