#footerMain{
  display: flex;
}

@media screen and (min-width: 480px) {
  #footerMain{
    flex-direction: column;
  }
}

@media screen and (min-width: 600px) {
  #footerMain{
    flex-direction: row;
  }
}

.copy{
  text-align: center;
  padding: 10px;
}

.credit{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 10px;
}
